.NavBar-container {
height: 40px;
  min-height: 55px;         
  background-color: var(--green);
}

@media (max-width: 992px){
  .NavBar-container .navbar-collapse {
    background-color: var(--light-green); /* λευκό ημιδιαφανές φόντο */
    padding: 1rem;
    position: absolute; /* ώστε να εμφανίζεται πάνω από το hero */
    top: 100%; /* ακριβώς κάτω από τη navbar */
    left: 0;
    right: 0;
    z-index: 1000; /* να είναι πάνω από όλα τα υπόλοιπα στοιχεία */
  }
}

.logo {
  height: 30px;           
  width: auto;
  object-fit: contain;
  margin-right: 10px;
  vertical-align: middle;
}

.mx-auto {
  margin-left: 20px;
  margin-right: auto;
}

.NavBar-container .dropdown-menu{
  background-color: var(--light-green);
}