.TopBar-container {
  background-color: var(--light-green);
  padding: 10px;
}

.Button {
  color: green;
  border-color: red;
  margin-left: auto;
}

/* Flex container για τα κουμπιά */
.button-group {
  display: flex;       /* κουμπιά δίπλα-δίπλα */
  gap: 10px;           /* απόσταση μεταξύ κουμπιών */
  margin-left: auto;    /* σπρώχνει όλα δεξιά */
}

.dropdown-wrapper {
  display: flex;
}

.smooth-dropdown .dropdown-menu {
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.smooth-dropdown.show .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}