.pageBackGround{
  background-color: var(--white);
}

.pageBackGround .service-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: var(--darkgrey);
  height: 100px;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}






